<form *ngIf="categorietarif" name="deleteForm" (ngSubmit)="confirmDelete(categorietarif.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="categorietarifDeleteDialogHeading">Confirmer l'opération de suppression</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()"></button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <p id="jhi-delete-categorietarif-heading">Êtes-vous sûr de vouloir supprimer la catégorie tarif {{ categorietarif.name }}?</p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
    </button>

    <button id="jhi-confirm-delete-categorietarif" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span>Supprimer</span>
    </button>
  </div>
</form>

