<form *ngIf="poste" name="deleteForm" (ngSubmit)="confirmDelete(poste.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="posteDeleteDialogHeading">Confirmer l'opération de suppression</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()"></button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <p id="jhi-delete-poste-heading">Êtes-vous sûr de vouloir supprimer la poste {{ poste.code }}?</p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon><span>Annuler</span>
    </button>

    <button id="jhi-confirm-delete-poste" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon><span>Supprimer</span>
    </button>
  </div>
</form>
