<main id="main" class="main" *ngIf="poste" data-cy="PosteDetailsHeading">
  <div class="pagetitle">
    <h1 id="jhi-activite-heading">Poste</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Fiche De Base</li>
        <li class="breadcrumb-item">Articles</li>
        <li class="breadcrumb-item active">Poste</li>
     </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <h3 class="text-center" data-cy="posteDetailsHeading"><span>Poste</span></h3>
<hr />
            <dl class="row-md jh-entity-details">
              <dt><span>Code</span></dt>
              <dd>
                <span>{{ poste.code }}</span>
              </dd>
              <dt><span>Nom :</span>  </dt>
              <dd class>
                <span class="m" >    {{ poste.name }}</span>
              </dd>
              <dt *ngIf="ShowMe" ><span>Societé</span></dt>
              <dd *ngIf="ShowMe">
                <div *ngIf="poste.societe">
                  <a [routerLink]="['/societe', poste.societe.id, 'view']">{{ poste.societe.code }}</a>
                </div>
              </dd>
            </dl>
    
            <button type="submit" (click)="previousState()" class="btn btn btn-outline-primary" data-cy="entityDetailsBackButton">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Retourner</span>
            </button>

            <button type="button" [routerLink]="['/poste', poste.id, 'edit']" class="btn btn-primary">
              <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Modifier</span>
            </button>
          </div>

        </div>

      </div>

    </div>
  </section>
</main>

















