<main id="main" class="main">
  <div class="pagetitle">
    <h1 id="jhi-representant-heading" data-cy="RepresentantCreateUpdateHeading">Représentant</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Fiche de base</li>
        <li class="breadcrumb-item">Gestion clients</li>
        <li class="breadcrumb-item active">Représentant</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
              <div class="row mb-3">
                <div class="row mb-3">
                  <label class="form-label" for="field_name">Nom</label>
                  <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
                  <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                    <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required"> ce champ est obligatoire </small>
                  </div>
                </div>
        
                <div class="row mb-3">
                  <label class="form-label" for="field_modevisite">Mode visite</label>
                  <select class="form-control" name="modevisite" formControlName="modevisite" id="field_modevisite" data-cy="modevisite">
                    <option [ngValue]="null"></option>
                    <option *ngFor="let modevisite of modevisiteValues" [value]="modevisite">mode visite</option>
                  </select>
                </div>
        
                <div class="row mb-3">
                  <label class="form-label" for="field_nbvisite">Nombre visite</label>
                  <input type="number" class="form-control" name="nbvisite" id="field_nbvisite" data-cy="nbvisite" formControlName="nbvisite" />
                </div>
        
                
              </div>
        
              <div>
                <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
                  <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
                </button>
        
                <button
                  type="submit"
                  id="save-entity"
                  data-cy="entityCreateSaveButton"
                  [disabled]="editForm.invalid || isSaving"
                  class="btn btn-primary"
                >
                  <fa-icon icon="save"></fa-icon>&nbsp;<span>Enregister</span>
                </button>
               
              </div>

            </form>
          </div>

        </div>

      </div>

    </div>
  </section>
</main>