<form *ngIf="activite" name="deleteForm" (ngSubmit)="confirmDelete(activite.id!)">

  <div class="modal-header">
    <h4 class="modal-title" data-cy="activiteDeleteDialogHeading">Confirmer l'opération de suppression
    </h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()"></button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <p id="jhi-delete-activite-heading">Êtes-vous sûr de vouloir supprimer l'activité {{ activite.name }}?</p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
    </button>

    <button id="jhi-confirm-delete-activite" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span>Supprimer</span>
    </button>
  </div>
</form>
