<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-societe-heading" data-cy="SocieteCreateUpdateHeading">Create or edit a Societe</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_code">Code</label>
          <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
          <div *ngIf="editForm.get('code')!.invalid && (editForm.get('code')!.dirty || editForm.get('code')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('code')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_datecreation">Datecreation</label>
          <div class="d-flex">
            <input
              id="field_datecreation"
              data-cy="datecreation"
              type="datetime-local"
              class="form-control"
              name="datecreation"
              formControlName="datecreation"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_matriculef">Matriculef</label>
          <input
            type="text"
            class="form-control"
            name="matriculef"
            id="field_matriculef"
            data-cy="matriculef"
            formControlName="matriculef"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_adresse">Adresse</label>
          <input type="text" class="form-control" name="adresse" id="field_adresse" data-cy="adresse" formControlName="adresse" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_tel">Tel</label>
          <input type="text" class="form-control" name="tel" id="field_tel" data-cy="tel" formControlName="tel" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_fax">Fax</label>
          <input type="text" class="form-control" name="fax" id="field_fax" data-cy="fax" formControlName="fax" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_contact">Contact</label>
          <input type="text" class="form-control" name="contact" id="field_contact" data-cy="contact" formControlName="contact" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_portable">Portable</label>
          <input type="text" class="form-control" name="portable" id="field_portable" data-cy="portable" formControlName="portable" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_ville">Ville</label>
          <input type="text" class="form-control" name="ville" id="field_ville" data-cy="ville" formControlName="ville" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_codeposte">Codeposte</label>
          <input type="text" class="form-control" name="codeposte" id="field_codeposte" data-cy="codeposte" formControlName="codeposte" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_activite">Activite</label>
          <input type="text" class="form-control" name="activite" id="field_activite" data-cy="activite" formControlName="activite" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_photo">Photo</label>
          <div>
            <img
              [src]="'data:' + editForm.get('photoContentType')!.value + ';base64,' + editForm.get('photo')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('photo')!.value"
              alt="societe image"
            />
            <div *ngIf="editForm.get('photo')!.value" class="form-text text-danger clearfix">
              <span class="pull-start">{{ editForm.get('photoContentType')!.value }}, {{ byteSize(editForm.get('photo')!.value!) }}</span>
              <button
                type="button"
                (click)="clearInputImage('photo', 'photoContentType', 'file_photo')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input type="file" id="file_photo" data-cy="photo" (change)="setFileData($event, 'photo', true)" accept="image/*" />
          </div>
          <input type="hidden" class="form-control" name="photo" id="field_photo" data-cy="photo" formControlName="photo" />
          <input
            type="hidden"
            class="form-control"
            name="photoContentType"
            id="field_photoContentType"
            formControlName="photoContentType"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
