<main id="main" class="main">
  <div class="pagetitle">
    <h1 id="jhi-activite-heading" data-cy="ActiviteCreateUpdateHeading">Activité</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Fiche de base</li>
        <li class="breadcrumb-item">Gestion clients</li>
        <li class="breadcrumb-item active">Activité</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
              <div class="row mb-3">
                <jhi-alert-error></jhi-alert-error>
                <label class="col-sm-2 col-form-label" for="field_name">Nom</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="name" id="field_name" data-cy="name"
                    formControlName="name" />
                  <div
                    *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                    <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required"> Ce champ est
                      obligatoire. </small>
                  </div>
                </div>
              </div>


              <div class="row mb-3" *ngIf="ShowMe">
                <label class="col-sm-2 col-form-label" for="field_societe">Societé</label>
                <div class="col-sm-10">
                  <select class="form-control" id="field_societe" data-cy="societe" name="societe"
                    formControlName="societe" [compareWith]="compareSociete" aria-label="Default select example">
                    <option selected>Ouvrir ce menu de sélection</option>
                    <option [ngValue]="null"></option>
                    <option [ngValue]="societeOption" *ngFor="let societeOption of societesSharedCollection">{{
                      societeOption.code }}</option>
                  </select>
                </div>
              </div>
              <div>
                <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary"
                  (click)="previousState()">
                  <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
                </button>

                <button type="submit" id="save-entity" data-cy="entityCreateSaveButton"
                  [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                  <fa-icon icon="save"></fa-icon>&nbsp;<span>Enregistrer</span>
                </button>
              </div>

            </form>
          </div>

        </div>

      </div>

    </div>
  </section>
</main>



